.character_container {
    display: grid;
    grid-template-areas:
        "head head head"
        "image location location"
        "epi epi epi";

    grid-template-rows: 115px 356px 1fr;
    grid-template-columns: 1.2fr 1fr 1fr;
    gap: var(--gap-ml);

    @media (max-width: 550px) {
        grid-template-areas:
            "head"
            "image"
            "location"
            "epi";

        grid-template-rows: 115px auto auto 1fr;
        grid-template-columns: 1fr;
    }

    &_header {
        display: flex;
        flex-direction: column;
        grid-area: head;

        &_title {
            font-size: var(--title-size-xl);
            line-height: normal;

        }

        &_info {
            display: flex;
            flex-direction: row;
            gap: var(--gap-ml);
            align-items: center;

            &_subtitle {
                line-height: 0px;
                font-size: var(--subtitle-size-xl);
            }

            div {
                border-radius: 50%;
                display: inline-block;
                width: 30px;
                height: 30px;
            }

            .isAlive {
                animation: pulse-bg-green 2s infinite ease-in-out;
                background-color: #64cf49;
            }

            .isNotAlive {
                animation: pulse-bg 2s infinite ease-in-out;
                background-color: #ca1818;
            }
        }
    }


    &_img {
        grid-area: image;


        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: var(--radius-ml);
            aspect-ratio: 1/1;
        }
    }

    &_location {
        grid-area: location;
        display: flex;
        flex-direction: column;


        &_title {
            font-size: var(--title-size-ml);
            line-height: normal;
            margin: -2px;

        }

        &_subtitle {
            font-size: var(--subtitle-size-ml);
            line-height: 0;
            color: #0000008a;

        }
    }

}